<div class="partA">
    <form action="" id="contactform" [formGroup]="partA">
      <table class="table table-bordered">
        <col style="width:3%">
	      <col style="width:3%">
	      <col style="width:50%">
        <col style="width:8%">
        <col style="width:8%">
        <col style="width:8%">
        <thead>
          <tr>
            <th colspan="6">PART-A</th>
          </tr>
          <tr>
            <th colspan="3"></th>
            <th>Course Outcome</th>
            <th>Bloom’s Level</th>
            <th>Marks</th>
        </tr>
        </thead>
        <tr>
          <td>1.</td>
          <td>a)</td>
          <td>
            <textarea class="d-flex flex-column rounded" formControlName='Q1'  rows="5" cols="70"></textarea><br>
          </td>
          <td><select class="form-control"  formControlName="CO1">
                <option *ngFor="let i of coOutcome" [value]="I">{{i}}</option>
              </select> </td>
          <td>
            <select class="form-control"  formControlName="b1">
              <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
            </select> 
          </td>
          <td><input type="text" class="d-flex flex-column rounded" formControlName='M1' ></td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q2'  rows="5" cols="70"></textarea><br>
            </td>
            <td><select class="form-control"  formControlName="CO2">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b2">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M2' ></td>
          </tr>
          <tr>
            <td></td>
            <td>c)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q3'  rows="5" cols="70"></textarea><br>
            </td>
            <td><select class="form-control"  formControlName="CO3">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b3">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M3' ></td>
          </tr>
          <tr>
            <td></td>
            <td>d)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q4'  rows="5" cols="70"></textarea><br>
            </td>
            <td><select class="form-control"  formControlName="CO4">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b4">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M4' ></td>
          </tr>
          <tr>
            <td></td>
            <td>e)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q5'  rows="5" cols="70"></textarea><br>
            </td>
            <td><select class="form-control"  formControlName="CO5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b5">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M5' ></td>
          </tr>
          <!-- <tr>
            <td></td>
            <td>f)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q6'  rows="5" cols="70"></textarea><br>
              <p class="inputData">
                {{partA.value.CO1}}
              </p>
            </td>
            <td><select class="form-control"  formControlName="b5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b6">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M6' ></td>
          </tr>
          <tr>
            <td></td>
            <td>g)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q7'  rows="5" cols="70"></textarea><br>
              <p class="inputData">
                {{partA.value.CO1}}
              </p>
            </td>
            <td><select class="form-control"  formControlName="b5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b7">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M7' ></td>
          </tr>
          <tr>
            <td></td>
            <td>h)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q8'  rows="5" cols="70"></textarea><br>
              <p class="inputData">
                {{partA.value.CO1}}
              </p>
            </td>
            <td><select class="form-control"  formControlName="b5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b8">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M8' ></td>
          </tr>
          <tr>
            <td></td>
            <td>i)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q9'  rows="5" cols="70"></textarea><br>
              <p class="inputData">
                {{partA.value.CO1}}
              </p>
            </td>
            <td><select class="form-control"  formControlName="b5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> </td>
            <td>
              <select class="form-control"  formControlName="b9">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M9' ></td>
          </tr>
          <tr>
            <td></td>
            <td>j)</td>
            <td>
              <textarea class="d-flex flex-column rounded" formControlName='Q10'  rows="5" cols="70"></textarea><br>
              <p class="inputData">
                {{partA.value.CO1}}
              </p>
            </td>
            <td><select class="form-control"  formControlName="b5">
                <option *ngFor="let i of coOutcome" [value]="i">{{i}}</option>
              </select> ></td>
            <td>
              <select class="form-control"  formControlName="b10">
                <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
              </select> 
            </td>
            <td><input type="text" class="d-flex flex-column rounded" formControlName='M10' ></td>
          </tr> -->
      </table>
    </form> 
  </div>
