<div class="coForm">
  <form action="" id="contactform" [formGroup]="coForm">
    <table class="table table-bordered">
      <thead>
        <th>CO#</th>
        <th>CO Statment</th>
        <th>Bloom's Level</th>
      </thead>
      <tr>
        <td>CO1</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO1' ><br>
        </td>
        <td>
          <select class="form-control"  formControlName="b1">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO2</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO2' ><br>
        </td>
        <td>
          <select class="form-control"  formControlName="b2">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO3</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO3' ><br>
        </td>
        <td>
          <select class="form-control"  formControlName="b3">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO4</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO4' ><br>
        </td>
        <td>
          <select class="form-control"  formControlName="b4">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO5</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO5' ><br>
        </td>
        <td>
          <select class="form-control"  formControlName="b5">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
    </table>
  </form> 
</div>
<app-part-a></app-part-a>
<app-mid-part-b></app-mid-part-b>
<div class="mx-auto">
  <button class="btn btn-primary mt-2 mb-2 text-center" (click)="moveToPaper()">Genrate paper</button>
</div>
<!-- <button type="submit" (click)="visibility()" (click)="mid()">MID PAPER</button>
<button type="submit" (click)="visibility()" (click)="sem()">SEMESTER PAPER</button>

<div *ngIf= "isVisible && isMid">
  <app-mid-part-b></app-mid-part-b>
</div>

<div *ngIf= "isVisible && !isMid">
  <app-sem-part-b></app-sem-part-b>
</div> -->
