<div class="Heading1">
  <div class="hallTicket">
    <p class="d-inline">Hall ticket:</p>
    <img src="assets\HallTicket.jpg">
  </div>
    <p class="courseCode">Course Code: A5508</p>
</div>

<div class="title">
  <div>
    <img src="assets\WhatsApp Image 2021-11-14 at 7.18.49 PM.jpeg">
  </div>
  <div class="collegeDetails">
    <h5 class="collegeName">VARDHAMAN COLLEGE OF ENGINEERING, HYDERABAD</h5>
    <h6 class="autonomousInstitute">Autonomous institute, affiliated to JNTUH</h6>
    <h6 class="semester">II B.Tech II Semester Continuous Assessment – II, June - 2021</h6>
    <h6>(Regulations: VCE-R19)</h6>
    <h6>DESIGN AND ANALYSIS OF ALGORITHMS</h6>
    <h6>(Common to CSE and IT) </h6>  
  </div>
</div>

<div class="DateTime">
  <p class="date">Date:  08th June 2021</p>
  <p class="time">Time: 90 Minutes</p>	
  <p class="marks">Max Marks: 40</p>	       
</div>
<br>
<hr>
<div>  
  <h5>Answer all Questions in Part-A</h5>
  <h5>Answer any Three Questions in Part-B</h5>  
</div>
<hr>

<div class="coForm">
  <form action="" id="contactform" [formGroup]="coForm">
    <table class="table table-bordered">
      <thead>
        <th>CO#</th>
        <th>CO Statment</th>
        <th>Bloom's Level</th>
      </thead>
      <tr>
        <td>CO1</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO1' required><br>
          <p class="inputData">
            {{coForm.value.CO1}}
          </p>
        </td>
        <td>
          <select class="form-control"  formControlName="b1">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO2</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO2' required><br>
          <p class="inputData">
            {{coForm.value.CO2}}
          </p>
        </td>
        <td>
          <select class="form-control"  formControlName="b2">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO3</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO3' required><br>
          <p class="inputData">
            {{coForm.value.CO3}}
          </p>
        </td>
        <td>
          <select class="form-control"  formControlName="b3">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO4</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO4' required><br>
          <p class="inputData">
            {{coForm.value.CO4}}
          </p>
        </td>
        <td>
          <select class="form-control"  formControlName="b4">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
      <tr>
        <td>CO5</td>
        <td>
          <input type="text" class="d-flex flex-column rounded" formControlName='CO5' required><br>
          <p class="inputData">
            {{coForm.value.CO5}}
          </p>
        </td>
        <td>
          <select class="form-control"  formControlName="b5">
            <option *ngFor="let i of blooms" [value]="i">{{i}}</option>
          </select> 
        </td>
      </tr>
    </table>
  </form> 
</div>
<app-part-a></app-part-a>
<button type="submit" (click)="visibility()" (click)="mid()">MID PAPER</button>
<button type="submit" (click)="visibility()" (click)="sem()">SEMESTER PAPER</button>
<div *ngIf= "isVisible && isMid">
  <app-mid-part-b></app-mid-part-b>
</div>

<div *ngIf= "isVisible && !isMid">
  <app-sem-part-b></app-sem-part-b>
</div>
<div>
  <button (click)="moveToPaper()">Genrate paper</button>
</div>