<div class="Heading1">
    <div class="hallTicket">
      <p class="d-inline">Hall ticket:</p>
      <img src="assets\HallTicket.jpg">
    </div>
      <p class="courseCode">Course Code: {{cid}}</p>
  </div>
  
  <div class="title">
    <div>
      <img src="assets\WhatsApp Image 2021-11-14 at 7.18.49 PM.jpeg">
    </div>
    <div class="collegeDetails">
      <h5 class="collegeName">VARDHAMAN COLLEGE OF ENGINEERING, HYDERABAD</h5>
      <h6 class="autonomousInstitute">Autonomous institute, affiliated to JNTUH</h6>
      <h6 class="semester">{{sem}} Continuous Assessment – II, June - 2021</h6>
      <h6>(Regulations: VCE-{{reg}})</h6>
      <h6>{{subject}}</h6>
      <h6>(Common to CSE and IT) </h6>  
    </div>
  </div>
  
  <div class="DateTime">
    <p class="date">Date: {{date}}</p>
    <p class="time">Time: {{time}} Minutes</p>	
    <p class="marks">Max Marks: {{marks}}</p>	       
  </div>
  <br>
  <hr>
  <div>  
    <h5>Answer all Questions in Part-A</h5>
    <h5>Answer any Three Questions in Part-B</h5>  
  </div>
  <hr>
  
<div class="coForm">

    <table class="table table-bordered">
        <thead class="text-center">
            <th>CO#</th>
            <th>CO Statment</th>
            <th>Bloom's Level</th>
        </thead>
        <tr>
            <td class="text-center">CO1</td>
            <td>{{paperCOData.CO1}}</td>
            <td>{{paperCOData.b1}}</td>
        </tr>
        <tr>
            <td class="text-center">CO2</td>
            <td>{{paperCOData.CO2}}</td>
            <td>{{paperCOData.b2}}</td>
        </tr>
        <tr>
            <td class="text-center">CO3</td>
            <td>{{paperCOData.CO3}}</td>
            <td>{{paperCOData.b3}}</td>
        </tr>
        <tr>
            <td class="text-center">CO4</td>
            <td>{{paperCOData.CO4}}</td>
            <td>{{paperCOData.b4}}</td>
        </tr>
        <tr>
            <td class="text-center">CO5</td>
            <td>{{paperCOData.CO5}} </td>
            <td>{{paperCOData.b5}}</td>
        </tr>
    </table>
</div>

<!-- part-A -->

      
      <div class="coForm" >

    <table class="table table-bordered">
        <col style="width:3%">
        <col style="width:3%">
        <col style="width:50%">
        <col style="width:8%">
        <col style="width:8%">
        <col style="width:8%">
        <thead>
            <tr>
                <td colspan="6" class="text-center">PART-A</td>
            </tr>
            <tr class="text-center">
                <td colspan="3"></td>
                <th>Course Outcome</th>
                <th>Bloom’s Level</th>
                <th>Marks</th>
            </tr>
        </thead>

        <tr>
            <td class="text-center">1.</td>
            <td class="text-center">a)</td>
            <td>{{paperPartA.Q1}} </td>
            <td>{{paperPartA.CO1}}</td>
            <td>{{paperPartA.b1}}</td>
            <td>{{paperPartA.M1}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">b)</td>
            <td>{{paperPartA.Q2}} </td>
            <td>{{paperPartA.CO2}}</td>
            <td>{{paperPartA.b2}}</td>
            <td>{{paperPartA.M2}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">c)</td>
            <td>{{paperPartA.Q3}} </td>
            <td>{{paperPartA.CO3}}</td>
            <td>{{paperPartA.b3}}</td>
            <td>{{paperPartA.M3}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">d)</td>
            <td>{{paperPartA.Q4}} </td>
            <td>{{paperPartA.CO4}}</td>
            <td>{{paperPartA.b4}}</td>
            <td>{{paperPartA.M4}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">e)</td>
            <td>{{paperPartA.Q5}} </td>
            <td>{{paperPartA.CO5}}</td>
            <td>{{paperPartA.b5}}</td>
            <td>{{paperPartA.M5}}</td>
        </tr>
        <!-- <tr>
            <td></td>
            <td class="text-center">f)</td>
            <td>{{paperPartA.Q6}} </td>
            <td>{{paperPartA.CO6}}</td>
            <td>{{paperPartA.b6}}</td>
            <td>{{paperPartA.M6}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">g)</td>
            <td>{{paperPartA.Q7}} </td>
            <td>{{paperPartA.CO7}}</td>
            <td>{{paperPartA.b7}}</td>
            <td>{{paperPartA.M7}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">h)</td>
            <td>{{paperPartA.Q8}} </td>
            <td>{{paperPartA.CO8}}</td>
            <td>{{paperPartA.b8}}</td>
            <td>{{paperPartA.M8}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">i)</td>
            <td>{{paperPartA.Q9}} </td>
            <td>{{paperPartA.CO9}}</td>
            <td>{{paperPartA.b9}}</td>
            <td>{{paperPartA.M9}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">j)</td>
            <td>{{paperPartA.Q10}} </td>
            <td>{{paperPartA.CO10}}</td>
            <td>{{paperPartA.b10}}</td>
            <td>{{paperPartA.M10}}</td>
        </tr> -->
        <tr>
            <td colspan="6" class="text-center">PART-B</td>
        </tr>
        <tr>
            <td>2</td>
            <td>a)</td>
            <td>{{paperPartB.Q1A}} </td>
            <td>{{paperPartB.CO1A}}</td>
            <td>{{paperPartB.b1A}}</td>
            <td>{{paperPartB.M1A}}</td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>{{paperPartB.Q1B}} </td>
            <td>{{paperPartB.CO1B}}</td>
            <td>{{paperPartB.b1B}}</td>
            <td>{{paperPartB.M1B}}</td>
        </tr>
        <tr ><td colspan="6" style="padding:15px;"></td></tr>
        <tr>
            <td>3</td>
            <td>a)</td>
            <td>{{paperPartB.Q2A}} </td>
            <td>{{paperPartB.CO2A}}</td>
            <td>{{paperPartB.b2A}}</td>
            <td>{{paperPartB.M2A}}</td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>{{paperPartB.Q2B}} </td>
            <td>{{paperPartB.CO2B}}</td>
            <td>{{paperPartB.b2B}}</td>
            <td>{{paperPartB.M2B}}</td>
        </tr>
        <tr ><td colspan="6" style="padding:15px;"></td></tr>
        <tr>
            <td>4</td>
            <td>a)</td>
            <td>{{paperPartB.Q3A}} </td>
            <td>{{paperPartB.CO3A}}</td>
            <td>{{paperPartB.b3A}}</td>
            <td>{{paperPartB.M3A}}</td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>{{paperPartB.Q3B}} </td>
            <td>{{paperPartB.CO3B}}</td>
            <td>{{paperPartB.b3B}}</td>
            <td>{{paperPartB.M3B}}</td>
        </tr>
        <tr ><td colspan="6" style="padding:15px;"></td></tr>
        <tr>
            <td>5</td>
            <td>a)</td>
            <td>{{paperPartB.Q4A}} </td>
            <td>{{paperPartB.CO4A}}</td>
            <td>{{paperPartB.b4A}}</td>
            <td>{{paperPartB.M4A}}</td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>{{paperPartB.Q4B}} </td>
            <td>{{paperPartB.CO4B}}</td>
            <td>{{paperPartB.b4B}}</td>
            <td>{{paperPartB.M4B}}</td>
        </tr>
        <tr ><td colspan="6" style="padding:15px;"></td></tr>
        <tr>
            <td>6</td>
            <td>a)</td>
            <td>{{paperPartB.Q5A}} </td>
            <td>{{paperPartB.CO5A}}</td>
            <td>{{paperPartB.b5A}}</td>
            <td>{{paperPartB.M5A}}</td>
        </tr>
        <tr>
            <td></td>
            <td>b)</td>
            <td>{{paperPartB.Q5B}} </td>
            <td>{{paperPartB.CO5B}}</td>
            <td>{{paperPartB.b5B}}</td>
            <td>{{paperPartB.M5B}}</td>
        </tr>
    </table>
</div>