.Heading1 {
  width:1000px;
  text-align:center;
  display: block;
  height:70px;
  font-weight: bold;
  margin:auto;
}

.hallTicket {
  float:left;
  width:400px;
  text-align: left;
}

.courseCode {
  float:right;
  width:600px;
  text-align: right;
}

/* .title{
  display:flex;
  margin-left: 600px;
} */

hr{
  width: 1000px;
  margin:auto;
}

h5{
  text-align: center;
  font-style: Calibri;
  font-size:15px;
  font-weight: bold;
}

h6{
  text-align: center;
}

.logoImage{
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.logoImage img{
  margin: auto;
  text-align: center;
}


.collegeName{
  font-style: "Trebuchet MS";
  font-size:18px;
  font-weight: bold;
}

.autonomousInstitute{
  font-style: "Trebuchet MS";
  font-size:15px;
  font-weight: bold;
}

.semester{
  font-style: Calibri;
  font-size:15px;
}

.DateTime {
  width:1000px;
  text-align:center;
  display: block;
  height:25px;
  margin-top: 5px;
  font-weight: bold;
  margin:auto;
}

.date {
  float:left;
  width:400px;
  text-align: left;
}

.time {
  display: inline-block;
  margin:0 auto;
  width:250px;
}

.marks {
  text-align: right;
  float:right;
  width:330px;
  margin:0px;
}

table {
    table-layout: fixed;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    border: solid 1px black;
  }
  td,
  th,tr {
    border: solid 1px black;
  }
table{
  border-collapse: collapse;
}

.coForm th:nth-child(1),.coForm th:nth-child(3){
  text-align: center;
  font-style: italic;
} 

.coForm th:nth-child(2){
  font-style: italic;
}

.coForm td:nth-child(1),.coForm td:nth-child(3){
  text-align: center;
}

.topicHeading{
  text-align: center;
  font-weight:bold ;

}

.sideHeading{
  font-weight: bold;
  text-decoration: underline;
}
 