table {
    table-layout: fixed;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    border: solid 1px black;
  }
  td,
  th,tr {
    border: solid 1px black;
    text-align: center;
  }
table{
  border-collapse: collapse;
}
 