<div class="home">
    <label for="regulation">Choose a regulation:</label><br>
    <select id="regulation" name="regulation" (click)="getRegulation($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option *ngFor="let i of data" value={{i}}>{{i}}</option>
    </select>
    <br>
    <br>
    <label for="courseId">Choose a Course:</label><br>
    <select id="courseId" name="courseId" (click)="getCourseId($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option *ngFor="let i of courseIds" value={{i}}>{{i}}</option>
    </select>
    <p>Subject:{{subject}}</p>

    <label for="sem">Choose a Semester:</label><br>
    <select id="sem" name="sem" (click)="getSem($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option *ngFor="let i of semester" value={{i}}>{{i}}</option>
    </select>
    <br>
    <br>
    <label for="midNo">Choose a Mid Number:</label><br>
    <select id="midNo" name="midNo" (click)="getMidNo($event.target.value)">
        <option disabled selected value> -- select an option -- </option>
        <option value='I'>I</option>
        <option value='II'>II</option>
    </select>
    <br>
    <br>
    <label for="date">Enter Date:</label><br>
    <input type="date" id="date"><br>

    <label for="marks">Enter Marks:</label><br>
    <input type="number" id="marks"><br>

    <label for="time">Enter Time:</label><br>
    <input type="number" id="time"><br>

    <div *ngFor="let branch of branches">
        <input type="checkbox" (change)="checkBoxValue(branch, $event.target.checked)" />
        {{ branch }}
    </div>

    <button type="submit"  class="btn btn-primary mt-4 mb-2 text-center" (click)="go()">Open Question Paper</button>


</div>